<h1>Lopputili</h1>
<p class="lead">Lopputili on kirjanpito- ja laskutussovellus pienille yrityksille ja yhteisöille.</p>
<div class="row-fluid">
	<div class="col-md-3">
		<div class="panel gray">
			<div class="panel-body">
				<h1><small>laskuja</small> {{invoices.length}} <small>kpl</small></h1>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel gray">
			<div class="panel-body">
				<h1><small>joista maksettuja</small> {{paid.length}} <small>kpl</small></h1>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel gray">
			<div class="panel-body">
				<h1><small>Yhteystietoja</small> {{contacts.length}} <small>kpl</small></h1>
			</div>
		</div>
	</div>

</div>