<div class="row">
	<div class="col-md-12">
		<h1>Laskutus</h1>
		<p class="lead">Tässä näkymässä voit tarkastella, muokata, lisätä tai poistaa laskuja</p>
    <button ng-click="toggleInvoiceEdit()" class="btn btn-info">Avaa/Sulje laskueditori</button>
    <div ng-include="'/static/partials/invoice_editor.html'"></div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Lasku</th>
        <th>Tila</th>
        <th>Asiakas</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="invoice in invoices">
        <td><button class="btn" ng-click="selectInvoice(invoice)">{{invoice.invoice_id}}</button></td>
        <td>{{invoice.title}}</td>
        <td>{{invoice.status}}</td>
        <td>{{contacts_by_pk[invoice.contact].name}}</td>
        <td><button class="btn btn-danger btn-xs" ng-click="removeInvoice(invoice)">P</button> <button class="btn btn-success btn-xs" ng-click="paidInvoice(invoice)">M</button> <a class="btn btn-primary btn-xs" href="/api/invoices/{{invoice.pk}}/generate">PDF</a></td>
      </tr>
    </tbody>
  </table>
</div>
</div>