<div class="row">
	<div class="col-md-12">
		<h1>Kirjanpito</h1>
		<p class="lead">Tässä näkymässä voit tarkastella, muokata, lisätä tai poistaa tositteitasi</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Päivämäärä</th>
          <th>Tosite</th>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="receipt in receipts">
          <td>{{receipt.rid}}</td>
          <td>{{receipt.commit_date}}</td>
          <td>{{receipt.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>