<div class="row">
	<div class="col-md-12">
		<h1>Kirjanpito</h1>
		<p class="lead">Tässä näkymässä voit tarkastella, muokata, lisätä tai poistaa tositteitasi</p>
    <button class="btn btn-success" ng-click="addReceipt()">Lisää tosite</button>
    <div ng-show="selected">
      <h3>{{selected.rid}} <small>{{selected.commit_date |date: 'd.M.y'}}<input type="date" ng-model="selected.commit_date" placeholder="pvm" class="form-control" ng-change="updateReceipt(selected)"></small></h3>
      <p editable-text="selected.description" onaftersave="updateReceipt(selected)">{{selected.description || "Ei kuvausta"}}</p>
      <table class="table table-condensed">
        <thead>
          <tr><th>Credit</th><th>Debet</th><th colspan="2">Tili</th></tr>
        </thead>
        <tbody>
          <tr ng-repeat="commit in commits">
            <td><span editable-text="commit.credit_amount" onaftersave="saveCommit(commit)">{{commit.credit_amount || "0"}}</span></td>
            <td><span editable-text="commit.debet_amount" onaftersave="saveCommit(commit)">{{commit.debet_amount || "0"}}</span></td>
            <td>
            <select ng-model="commit.account" ng-change="saveCommit(commit)" placeholder="Tili" class="form-control input-md">
                <option ng-repeat="account in accounts" value="{{account.pk}}">{{account.name}}</option>
              </select>
            </td>
          </tr>
        </tbody>
        <tfooter>
          <tr>
          <td>{{totals().credit}}</td>
          <td>{{totals().debet}}</td>
            <td>
              <button class="btn btn-success" ng-click="addCommit()">Lisää</button>
            </td>
          </tr>
        </tfooter>
      </table>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Päivämäärä</th>
          <th>Tosite</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="receipt in receipts">
          <td><button class="btn btn-xs" ng-click="editReceipt(receipt)">{{receipt.rid}}</button> <button class="btn btn-xs btn-danger" ng-click="removeReceipt(receipt)">P</button></td>
          <td>{{receipt.commit_date | date: 'd.M.y'}}</td>
          <td>{{receipt.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>