<div class="row">
	<div class="col-md-12">
		<h1>Asetukset</h1>
		<p class="lead">Tässä näkymässä voit säätää asetuksiasi</p>
		<form class="form-horizontal">


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Yrityksen / Yhteisön nimi</label>  
  <div class="col-md-8">
  <input id="name" name="name" type="text" placeholder="Firma Oy" class="form-control input-md" required="">
  <span class="help-block">Kirjoita tähän yrityksen tai yhteisön nimi</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="vatcode">Y-tunnus</label>  
  <div class="col-md-8">
  <input id="vatcode" name="vatcode" type="text" placeholder="232323-1" class="form-control input-md" required="">
  <span class="help-block">Yrityksen tai yhteisön Y-tunnus</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="iban">IBAN</label>  
  <div class="col-md-8">
  <input id="iban" name="iban" type="text" placeholder="FI000 00000 0000000 00000" class="form-control input-md" required="">
  <span class="help-block">Tilinumero joka näkyy laskulla</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="bic">BIC</label>  
  <div class="col-md-8">
  <input id="bic" name="bic" type="text" placeholder="OKOYFIHH" class="form-control input-md" required="">
  <span class="help-block">BIC-koodi joka näkyy laskulla</span>  
  </div>
</div>

</form>

	</div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Tilit</h1>
    <p class="lead">Tässä näkymässä voit tarkastella, muokata, lisätä tai poistaa tilejäsi</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nimi</th>
          <th>Koodi</th>
          <th>Kuvaus</th>
          <th>Vastaava/Vastattava</th>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="account in accounts">
          <td>{{account.name}}</td>
          <td>{{account.aid}}</td>
          <td>{{account.description}}</td>
          <td>{{account.side}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>