<div class="row">
	<div class="col-md-12">
		<h1>Asetukset</h1>
		<p class="lead">Tässä näkymässä voit säätää asetuksiasi</p>
		<form class="form-horizontal">


<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" for="name">Yrityksen / Yhteisön nimi</label>  
  <div class="col-md-10">
  <input id="name" name="name" ng-model="settings.company_name" type="text" placeholder="Firma Oy" class="form-control input-md">
  <span class="help-block">Kirjoita tähän yrityksen tai yhteisön nimi</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" for="address">Postiosoite</label>  
  <div class="col-md-10">
  <input id="address" name="address" ng-model="settings.address" type="text" placeholder="Yritystie 1" class="form-control input-md">
  <span class="help-block">Yrityksen tai yhteisön postiosoite</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" for="zip_code">Postinumero</label>  
  <div class="col-md-10">
  <input id="zip_code" name="zip_code" ng-model="settings.zip_code" type="text" placeholder="05540" class="form-control input-md">
  <span class="help-block">Yrityksen tai yhteisön postinumero</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" for="city">Postitoimipaikka</label>  
  <div class="col-md-10">
  <input id="city" name="city" ng-model="settings.city" type="text" placeholder="Espoo" class="form-control input-md">
  <span class="help-block">Yrityksen tai yhteisön postitoimipaikka</span>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" for="email">Sähköpostiosoite</label>  
  <div class="col-md-10">
  <input id="email" name="email" ng-model="settings.email" type="text" placeholder="yritys@yritys.fi" class="form-control input-md">
  <span class="help-block">Yrityksen tai yhteisön sähköpostiosoite</span>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" for="phone">Puhelinnumero</label>  
  <div class="col-md-10">
  <input id="phone" name="phone" ng-model="settings.phone" type="text" placeholder="04000404040" class="form-control input-md">
  <span class="help-block">Yrityksen tai yhteisön puhelinnumero</span>
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" for="vatcode">Y-tunnus</label>  
  <div class="col-md-10">
  <input id="vatcode" name="vatcode" ng-model="settings.vat_code" type="text" placeholder="232323-1" class="form-control input-md">
  <span class="help-block">Yrityksen tai yhteisön Y-tunnus</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" for="iban">IBAN</label>  
  <div class="col-md-10">
  <input id="iban" name="iban" ng-model="settings.iban" type="text" placeholder="FI000 00000 0000000 00000" class="form-control input-md">
  <span class="help-block">Tilinumero joka näkyy laskulla</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" for="bic">BIC</label>  
  <div class="col-md-10">
  <input id="bic" name="bic" ng-model="settings.bic" type="text" placeholder="OKOYFIHH" class="form-control input-md">
  <span class="help-block">BIC-koodi joka näkyy laskulla</span>  
  </div>
</div>
<button class="btn btn-success pull-right" ng-click="saveSettings()">Tallenna</button>
</form>

	</div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Tilit</h1>
    <p class="lead">Tässä näkymässä voit tarkastella, muokata, lisätä tai poistaa tilejäsi</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nimi</th>
          <th>Koodi</th>
          <th>Kuvaus</th>
          <th colspan="2">Vastaava/Vastattava</th>
        </tr>
        <tr>
          <td><input class="form-control input-sm" type="text" ng-model="form.name"></td>
          <td><input class="form-control input-sm" type="text" ng-model="form.aid"></td>
          <td><textarea class="form-control input-sm" ng-model="form.description"></textarea></td>
          <td>
            <select class="form-control" ng-model="form.side">
              <option value="Vastaava">Vastaava</option>
              <option value="Vastattava">Vastattava</option>
            </select>
          </td>
          <td><button class="btn btn-sm btn-success" ng-click="addAccount(form)">Lisää</button></td>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="account in accounts">
          <td><span editable-text="account.name" onaftersave="updateAccount(account)">{{account.name || '----'}}</span></td>
          <td><span editable-text="account.aid" onaftersave="updateAccount(account)">{{account.aid || '----'}}</span></td>
          <td><span editable-text="account.description" onaftersave="updateAccount(account)">{{account.description || '----'}}</span></td>
          <td><span editable-select="account.side" e-ng-options="s.value as s.text for s in sides" onaftersave="updateAccount(account)">{{account.side || '----'}}</span></td>
          <td><button class="btn btn-xs btn-danger" ng-click="removeAccount(account)">P</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>