<!DOCTYPE html>
<html lang="en" ng-app="lopputiliApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lopputili</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/simple-sidebar.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='app/bower_components/alertifyjs/dist/css/alertify.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='app/bower_components/angular-xeditable/dist/css/xeditable.css')}}" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    {% include 'nav.html' %}

                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">

                  {% with messages = get_flashed_messages() %}
                  {% if messages %}
                  <div class="alert alert-warning">
                  <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                </div>
                {% endif %}
                {% endwith %}

                {% block content %}
                <div ui-view></div>
                {% endblock %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery and angular -->
    <script src="{{ url_for('static', filename='app/bower_components/angular/angular.min.js')}}"></script>
    <script src="{{ url_for('static', filename='app/bower_components/lodash/dist/lodash.min.js')}}"></script>
    <script src="{{ url_for('static', filename='app/bower_components/restangular/dist/restangular.min.js')}}"></script>
    <script src="{{ url_for('static', filename='app/bower_components/angular-ui-router/release/angular-ui-router.min.js')}}"></script>
    <script src="{{ url_for('static', filename='app/bower_components/alertifyjs/dist/js/alertify.js')}}"></script>
    <script src="{{ url_for('static', filename='app/bower_components/angular-xeditable/dist/js/xeditable.min.js')}}"></script>
    <script src="{{ url_for('static', filename='app/app.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>

</html>