{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h1>Yhteystiedot</h1>
		<p class="lead">Tässä näkymässä voit tarkastella, muokata, lisätä tai poistaa yhteystietojasi</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nimi</th>
          <th>Osoite</th>
        </tr>
      </thead>
      <tbody>
          <tr>
          <td>#</td>
          <td>Nimi</td>
          <td>Osoite</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}